h1{
    color:aqua
}
p,h2{
    text-align:center;
}

.header{
    background-color: rgb(44, 8, 248);
    display:flex;
    justify-content:space-between
}
.grid{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap
}
.footer{
    display: flex;
    justify-content:flex-end
}
body{
    background-color: #808080;
}